<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.
    }

    @if (ViewBag.jobs.Count == 0)
    {
        <p>No jobs available.</p>
    }
    else
    {
        <table class="job-listing">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Employer
                </th>
                <th>
                    Location
                </th>
                <th>
                    Position Type
                </th>
                <th>
                    Skills
                </th>
            </tr>
            @foreach (Job job in ViewBag.jobs)
            {
        <tr>
            <td>@job.Name</td>
            <td><a asp-controller="List" asp-action="Jobs" asp-route-column="employer" asp-route-value=@job.Employer>@job.Employer</a></td>
            <td><a asp-controller="List" asp-action="Jobs" asp-route-column="location" asp-route-value=@job.Location>@job.Location</a></td>
            <td><a asp-controller="List" asp-action="Jobs" asp-route-column="positionType" asp-route-value=@job.PositionType>@job.PositionType</a></td>
            <td><a asp-controller="List" asp-action="Jobs" asp-route-column="coreCompetency" asp-route-value=@job.CoreCompetency>@job.CoreCompetency</a></td>
        </tr>
            }
        </table>
    }
</div>